{% extends 'base.html.twig' %}

{% block title %}ContactCreche index{% endblock %}

{% block body %}
<section id="message" class="bouton">
    <div class="wrap">
        <div class="link">
            <div class="top">
                <a href="{{ path('app_pro_demande') }}">Nouvelle demande</a>
                <a class="message" href="{{ path('app_pro_message') }}">Voir mes message</a>
            </div>
            <div class="down">
                <a href="{{ path('app_pro_detail') }}">Détail creche</a>
                <a class="dashboard" href="{{ path('app_pro') }}">Dashboard</a>
            </div>
        </div>
        <div class="creneaux">
            <h2>Mes messages :</h2>
        </div>

    </div>
</section>

    <section id="messagerie" class="bouton">
        <div class="wrap">
            <div class="messagerie">
                {% for contact_creche in contact_creches %}
                <div class="message-box">
                    <div class="top">
                        <p>{{ contact_creche.createdAt ? contact_creche.createdAt|date('H : i') : '' }}</p>
                        <p>{{ contact_creche.createdAt ? contact_creche.createdAt|date('m/d') : '' }}</p>
                    </div>
                    <div class="bot">
                        <div class="letter">
                            <i class="fa-solid fa-envelope" style="color: #000000;"></i>
                        </div>
                        <div class="description">
                            <div class="info">
                                <div class="titre">
                                    <h2>{{ contact_creche.nom }}
                                        {{ contact_creche.prenom }}</h2>
                                </div>
                                <div>
                                    <p class="text-limit">{{ contact_creche.message }}</p>
                                </div>
                            </div>
                            <div class="bouton">
                                <a class="edit" href="{{ path('app_contact_creche_show', {'id': contact_creche.id}) }}">Detail</a>
                                {{ include('contact_creche/_delete_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <p>aucun message</p>
                {% endfor %}
            </div>
        </div>
        <div class="img">
            <a href="{{ path('app') }}"><img class="back" src="{{ asset('asset/img/back.svg') }}" alt="back"></a>
        </div>
    </section>

{% endblock %}




