{% extends 'base.html.twig' %}

{% block title %}demande

{% endblock %}

{% block body %}

	<section id="demande" class="bouton">
		<div class="wrap">
			<div class="link">
				<div class="top">
						<a href="{{ path('app_add_creche_show', {'id': creche.id }) }}">Détails creche</a>
						<a href="{{ path('app_contact_creche_index') }}">Voir mes messages</a>
					</div>
						<div class="down">
						<a href="{{ path('app_pro_liste_child') }}">Gérer les enfants</a>
						<a  href="{{ path('app_pro') }}">Dashboard</a>
					</div>
			</div>
          <div class="creneaux">
          	<h2>Mes demandes :</h2>
          </div>
			<div class="img">
			<a href="{{ path('app') }}"><img class="back" src="{{ asset('asset/img/back.svg') }}" alt="back"></a>
			</div>
		</div>
	</section>

{% endblock %}
