{% extends 'base.html.twig' %}

{% block title %}Dashboard - Pitchoune

{% endblock %}

{% block body %}

	<section id="pro" class="bouton">
		<div class="wrap">
			<div class="link">
				<div class="top">
						<a href="{{ path('app_pro_detail') }}">Détail creche</a>
						<a href="{{ path('app_contact_creche_index') }}">Voir mes message</a>
					</div>
						<div class="down">
						<a href="">Gérer les enfants</a>
						<a  href="{{ path('app_pro') }}">Dashboard</a>
					</div>
			</div>
			<div class="creneaux">
			<h2>Vos créneaux :</h2>
			</div>
			<div class="messagerie">

				{% for rdv in rdvs %}
					{# <a href="{{ path('app_rdv_show', {'id': rdv.id}) }}" class="box_creche"> #}
					<div class="message-box">
						<div class="top">
							<p>{{ rdv.date ? rdv.date|date('H : i') : '' }}</p>
							<p>{{ rdv.date ? rdv.date|date('m/d') : '' }}</p>
						</div>
						<div class="bot detail">
							<div class="letter">
					<i class="fa-solid fa-baby"></i>
							</div>
							<div class="description">
								<div class="info">
									<div class="titre">
										<h2>{{ childs[rdv.id].prenom }} {{ childs[rdv.id].nom }}</h2>
									</div>
								</div>
							</div>
						</div>

					</div>

				{% else %}
					<tr>
						<td colspan="14">Aucun rdv trouver.</td>
					</tr>
				{% endfor %}

			</div>

			<div class="img">
				<a href="{{ path('app_admin') }}"><img class="back" src="{{ asset('asset/img/back.svg') }}" alt="back"></a>
			</div>
		</div>
	</section>
	
{% endblock %}
