{% extends 'base.html.twig' %}

{% block title %}Liste des enfants - Pitchoune{% endblock %}

{% block body %}

	<section id="pro" class="bouton">
		<div class="wrap">
			<div class="link">
				<div class="top">
					<a href="{{ path('app_add_creche_show', {'id': creche.id }) }}">Détails crèche</a>
					<a href="{{ path('app_contact_creche_index') }}">Voir mes messages</a>
				</div>
				<div class="down">
					<a href="{{ path('app_pro_liste_child') }}">Gérer les enfants</a>
					<a href="{{ path('app_pro_time_new') }}">Horaires</a>
				</div>
			</div>
			<div class="creneaux">
				<h2>Liste des enfants :</h2>
			</div>
			<div class="box_dash">
				<div class="listing">
					{% for child in children %}
						<div class="child">
							<details>
								<summary>{{ child.nom }} {{ child.prenom }}</summary>
								<ul>
									<li>Âge : {{ child.age }}</li>
									<li>Genre : {{ child.genre }}</li>
									<li>Consignes alimentaires : {{ child.consignealimentaire }}</li>
									<li>Traitements : {{ child.traitement }}</li>
									<li>Vaccins : {% if child.vaccin == 0 %}Non{% else %}Oui{% endif %}</li>
									<li>Allergies : {{ child.allergie }}</li>
								</ul>
							</details>
						</div>

					{% else %}
							<p>Aucun Enfant</p>
					{% endfor %}
					

				</div>
			</div>
			<div class="img">
				<a href="{{ path('app_pro') }}"><img class="back" src="{{ asset('asset/img/back.svg') }}" alt="back"></a>
			</div>
		</div>
	</section>

{% endblock %}
