{% extends 'admin.html.twig' %}

{% block title %}Demande de pro. en attente - Pitchoune
{% endblock %}

{% block body %}

	<section id="messagerie" class="bouton">
		<div class="wrap">
			<div class="titre">
				<h1>Demande de pro. en attente:</h1>

			</div>
			<div class="messagerie">
				{% for add_creche in add_creches %}
					<div class="message-box">
						<div class="top">
							<p>{{ add_creche.createdAt ? add_creche.createdAt|date('H : i') : '' }}</p>
							<p>{{ add_creche.createdAt ? add_creche.createdAt|date('m/d') : '' }}</p>
						</div>
						<div class="bot">
							<div class="letter">
								<i class="fa-solid fa-house"></i>
							</div>
							<div class="description">
								<div class="info">
									<div class="titre">
										<h2>{{ add_creche.nom }}
										</h2>
									</div>
									<div>
										<p>{{ add_creche.adresse }}</p>
									</div>
								</div>
								<div class="bouton demande-btn">
									<a class="sup" href="{{ path('app_admin_demande_show', {'id': add_creche.id}) }}">voir plus</a>
								</div>
							</div>
						</div>

					</div>
				{% else %}
					<tr>
                        <td colspan="14">Aucune demande trouvée.</td>
                    </tr>
				</div>
			{% endfor %}
		</div>
		<div class="img">
               <a href="{{ path('app_admin') }}"><img class="back" src="{{ asset('asset/img/back.svg') }}" alt="back"></a>
          </div>
	</section>


{% endblock %}
