{% extends 'admin.html.twig' %}

{% block title %}Liste des RDV - Pitchoune
{% endblock %}

{% block body %}


	<section id="messagerie" class="bouton">
		<div class="wrap">
			<div class="titre">
				<h1>
					Liste des rendez-vous en cours:</h1>
			</div>
			<div class="messagerie">

				{% for rdv in rdvs %}
					<div class="message-box">
						<div class="top">
								<p>{{ rdv.date ? rdv.date|date('d/m/Y') : '' }}</p> 

										<p>
										{{ rdv.heure_debut ? rdv.heure_debut|date('H : i') : '' }} /
										{{ rdv.heure_fin ? rdv.heure_fin|date('H : i') : '' }}
										</p>
						</div>
						<div class="bot detail">
							<div class="letter">
					<i class="fa-solid fa-baby"></i>
							</div>
							<div class="description">
								<div class="info">
									<div class="titre">
										<h2>{{ childs[rdv.id].prenom }}

											{{ childs[rdv.id].nom }}</h2>
									</div>
								</div>
							</div>
						</div>

					</div>

				{% else %}
					<tr>
						<td colspan="14">Aucun rendez-vous trouvé.</td>
					</tr>
				{% endfor %}

			</div>

			<div class="img">
				<a href="{{ path('app_admin') }}"><img class="back" src="{{ asset('asset/img/back.svg') }}" alt="back"></a>
			</div>
		</div>
	</section>

{% endblock %}
