{% extends 'admin.html.twig' %}

{% block title %}Detail Creche
{% endblock %}

{% block body %}


	<section id="singleC">
		<div class="wrap">
			<div class="titre">
				<h1>{{ add_creche.nom }}</h1>
			</div>
			<div class="content">
				<div class="content-titre">
					<h2>Coordonnée :</h2>
				</div>
				<div class="content-info">
					<div class="tel">
						<p>Tel :</p>
						<p>{{ add_creche.telephone }}</p>
					</div>
					<div class="mail">
						<p>Email :</p>
						<p>{{ add_creche.email }}</p>
					</div>
				</div>
				<div class="content-titre">
					<h2>Information :</h2>
				</div>
				<div class="content-info">
					<div class="adresse">
						<p>Adresse :</p>
						<p>{{ add_creche.adresse }}</p>
					</div>
					<div class="siret">
						<p>Siret :</p>
						<p>{{ add_creche.siret }}</p>
					</div>
					<div class="tarif">
						<p>Tarif :</p>
						<p>{{ add_creche.tarif }}
							/heure</p>
					</div>
					<div class="max-user">
						<p>Capacité :</p>
						<p>{{ add_creche.maxEnfant }}
							enfant</p>
					</div>

				</div>
			</div>
            <div class="bouton">
			<div class="link">
				<a href="{{ path('app_admin_demande_validate', {'id': add_creche.id}) }}" class="accept">Accepter</a>
				<a href="{{ path('app_admin_demande_novalidate', {'id': add_creche.id}) }}" class="refu">Refuser</a>
			</div>
			<div class="img">
				<a href="{{ path('app_admin_demande') }}"><img class="back" src="{{ asset('asset/img/back.svg') }}" alt="back"></a>
			</div>
		</div>
		</div>
	</div>
</section>


{# <a href="{{ asset('uploads/brochures/' ~ add_creche.brochureFilename) }}">View brochure (PDF)</a> #}{% endblock %}
