{% extends 'base.html.twig' %}

{% block title %}{{ add_creche.nom }} - Pitchoune{% endblock %}

{% block body %}
    <section id="single_pro_public" class="form">
    <div class="wrap">
            <h2>{{ add_creche.nom }}</h2>
            <div class="note">
                <span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></span>
            </div>
            <div class="container_horaire">
                
                <span><b>Lundi:</b> 7:30 - 17:30 </span>
                <span><b>Mardi:</b> 7:30 - 17:30 </span>
                <span><b>Mercredi:</b> 7:30 - 17:30 </span>
                <span><b>Jeudi:</b> 7:30 - 17:30 </span>
                
                <span><b>Vendredi:</b> 7:30 - 17:30 </span>
                <span><b>Samedi:</b> Fermé</span>
                <span><b>Dimanche:</b> Fermé</span>
                
            </div>

            <div class="container_info">
                <span><b>Mail:</b> {{ add_creche.email }} </span>
                <span><b>Tel:</b> {{ add_creche.telephone }} </span>
                <br><br>
                <span><b>Adresse:</b> {{ add_creche.adresse }}  </span>
            </div>
            <div id="map"></div>
                

            <div class="img">
                <a href="{{ path('app_rdv_index') }}"><img class="back" src="{{ asset('asset/img/back.svg') }}" alt="back"></a>
                <a class="button" href="{{ path('app_rdv_new', {'id': add_creche.id}) }}">Réserver</a>
                <a href="{{ path('app_contact_creche_new', {'id': add_creche.id}) }}"><img class="back" src="{{ asset('asset/img/message.png') }}" alt=""></a>
            </div>
        </div>
    </section>
    <script>
        var address = "{{ add_creche.adresse }}";
        var nomAdresse = "{{ add_creche.nom }}";
    </script>
{% endblock %}
