{% extends 'base.html.twig' %}

{% block title %}AddCreche{% endblock %}

{% block body %}
    <h1>AddCreche</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ add_creche.id }}</td>
            </tr>
            <tr>
                <th>Id_user</th>
                <td>{{ add_creche.idUser }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ add_creche.nom }}</td>
            </tr>
            <tr>
                <th>Siret</th>
                <td>{{ add_creche.siret }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ add_creche.description }}</td>
            </tr>
            <tr>
                <th>Tarif</th>
                <td>{{ add_creche.tarif }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ add_creche.adresse }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ add_creche.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ add_creche.telephone }}</td>
            </tr>
            <tr>
                <th>Agrement</th>
                <td>{{ add_creche.agrement }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ add_creche.status }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ add_creche.createdAt ? add_creche.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modified_at</th>
                <td>{{ add_creche.modifiedAt ? add_creche.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_add_creche_index') }}">back to list</a>

    <a href="{{ path('app_add_creche_edit', {'id': add_creche.id}) }}">edit</a>

    {{ include('add_creche/_delete_form.html.twig') }}
{% endblock %}
