{% extends 'base.html.twig' %}

{% block title %}{{ add_creche.nom }} - Pitchoune{% endblock %}

{% block body %}
    <section id="single_pro_public" class="form">
    <div class="wrap">
            <h2>{{ add_creche.nom }}</h2>
            <div class="note">
                <span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></span>
            </div>
            <div class="container_horaire">
                 {% for time in times %}
                    {% for jour in time.jour %}
                        <span>
                            <b>{{ jour }}:</b>
                            {{ time.heure_debut|date('H\\hi') }} - 
                            {{ time.heure_fin|date('H\\hi') }}
                        </span>
                    {% endfor %}
                {% endfor %}
            </div>  

            <div class="container_info">
                <span><b>Mail:</b> {{ add_creche.email }} </span>
                <span><b>Tel:</b> {{ add_creche.telephone }} </span>
                <br><br>
                <span><b>Adresse:</b> {{ add_creche.adresse }}  </span>
            </div>
            <div id="map"></div>
                

            <div class="img">
                <a href="{{ path('app_pro') }}"><img class="back" src="{{ asset('asset/img/back.svg') }}" alt="back"></a>
                <a href="{{ path('app_contact') }}"><img class="back" src="{{ asset('asset/img/message.png') }}" alt=""></a>
            </div>
        </div>
    </section>
    <script>
        var address = "{{ add_creche.adresse }}";
        var nomAdresse = "{{ add_creche.nom }}";
    </script>
{% endblock %}
