{% extends 'base.html.twig' %}

{% block title %}Mes enfants
{% endblock %}

{% block body %}


	<section id="listing-child" class="bouton">
		<div class="wrap">
			<div class="titre">
				<h1>Mes enfants</h1>
				<div class="link">
					<a href="{{ path('app_full_child_new') }}">Ajouter un enfant</a>
				</div>
			</div>
			<div class="listing">

				{% set hasNewChild = false %}

				{% for full_child in full_children %}

					{% if full_child.status == 'new' %}

						{% set hasNewChild = true %}

						<div class="child">
							<div class="left">
								<i class="fa-solid fa-child-reaching"></i>
							</div>
							<div class="right">
								<p>{{ full_child.prenom }}</p>
								<div class="btn">
									<a class="edit" href="{{ path('app_full_child_edit', {'id': full_child.id}) }}">editer</a>
									<a class="sup" href="{{ path('app_full_child_sup', {'id': full_child.id}) }}">supprimer</a>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}

				{% if not hasNewChild %}

					<p style="text-align: center;">Aucun enfant</p>

				{% endif %}


			</div>
			<div class="img">
				<a href="{{ path('app_user') }}"><img class="back" src="{{ asset('asset/img/back.svg') }}" alt="back"></a>
			</div>
		</div>
	</section>
{% endblock %}
