{% extends 'base.html.twig' %}

{% block title %}New Document{% endblock %}

{% block body %}
    <section id="document" class="form">
        <div class="wrap">
            <h1>Create new Document</h1>

            {{ include('document/_form.html.twig') }}

            <a href="{{ path('app_document_index') }}">back to list</a>

            <h1>Adding a new product</h1>

            {{ form_start(form) }}
            {# ... #}

            {#    {{ form_row(form.brochure) }}#}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
