{% extends 'base.html.twig' %}

{% block title %}Liste des crèches - Pitchoune{% endblock %}

{% block body %}
  
    <section id="rdv_index" class="form">
    <div class="wrap">
            <h2> CHOISISSEZ votre crèche:</h2>
            <div class="search_bar">
                <input type="search" name="" id="" placeholder="Search">
            </div>
            <div class="creche_container">

            {% for add_creche in add_creches %}
            <a href="{{ path('app_add_creche_public_show', {'id': add_creche.id}) }}" class="box_creche">
                <div class="creche_text">
                    <h4>{{ add_creche.nom }}</h4>
                </div>
                <div class="creche_data">
                    <i class="fa-solid fa-building-user"></i>
                    {% set count = counts[add_creche.id] ?? 0 %}
                    <span>{{ count }}/{{ add_creche.maxEnfant }}</span>
                </div>
            </a>
        {% else %}
            <tr>
                <td colspan="14">Aucune crèche trouvée.</td>
            </tr>
        {% endfor %}

            </div>


            </div>

            <div class="img">
                <a href="{{ path('app_user') }}"><img class="back" src="{{ asset('asset/img/back.svg') }}" alt="back"></a>
            </div>
        </div>
    </section>
{% endblock %}
