{% extends 'base.html.twig' %}

{% block title %}mes infos{% endblock %}

{% block body %}


    <section id="user">
        <div class="wrap">
            <select name="child" id="child"></select>
            <div class="link">
                <div class="top">
                    <a  href="{{ path('app_pro_demande') }}">Prendre un rdv</a>
                    <a href="{{ path('app_pro_message') }}">Ajouter un enfant</a>
                </div>
                <div class="down">
                    <a class="info" href="{{ path('app_pro_detail') }}">Mes infos</a>
                    <a class="dashboard" href="{{ path('app_pro') }}">Ajouter un tuteur</a>
                </div>
            </div>
            <div class="creneaux">
                <h2>Vos créneaux :</h2>
            </div>
            <div class="img">
                <a href="{{ path('app') }}"><img class="back" src="{{ asset('asset/img/back.svg') }}" alt="back"></a>
            </div>
        </div>
    </section>
{% endblock %}
