{% extends 'base.html.twig' %}

{% block title %}mes infos
{% endblock %}

{% block body %}


	<section id="user" class="bouton">
		<div class="wrap">
			<div class="select">
				<select name="child" id="child">

					{% set hasNewChild = false %}

					{% for full_child in full_children %}

						{% if full_child.status == 'new' %}

							{% set hasNewChild = true %}

							<option value="{{ full_child.prenom }}">{{ full_child.prenom }}</option>

						{% endif %}
					{% endfor %}
					{% if not hasNewChild %}

						<option>Aucun enfant</option>

					{% endif %}
				</select>

			</div>
			<div class="link">
				<div class="top">
					<a href="{{ path('app_rdv_index') }}">Prendre un rdv</a>
					<a href="{{ path('app_full_child_index') }}">Voir mes enfants</a>
				</div>
				<div class="down">
					<a class="info" href="{{ path('app_recup_child_index') }}">Voir les tuteur</a>
					<a class="dashboard" href="{{ path('app_recup_child_new') }}">Payement</a>
				</div>
			</div>
			<div class="creneaux">
				<h2>Vos créneaux :</h2>
			</div>
			<div class="img">
				<a href="{{ path('app') }}"><img class="back" src="{{ asset('asset/img/back.svg') }}" alt="back"></a>
			</div>
		</div>
	</section>
{% endblock %}
