{% extends 'base.html.twig' %}

{% block title %}Mes infos - Pitchoune
{% endblock %}

{% block body %}


	<section id="user" class="bouton">
		<div class="wrap">
			<div class="select">
				<select name="child" id="child">

					{% set hasNewChild = false %}

					{% for full_child in full_children %}

						{% if full_child.status == 'new' %}

							{% set hasNewChild = true %}

							<option value="{{ full_child.prenom }}">{{ full_child.prenom }}</option>

						{% endif %}
					{% endfor %}
					{% if not hasNewChild %}

						<option>Aucun enfant</option>

					{% endif %}
				</select>

			</div>
			<div class="link">
				<div class="top">
					<a href="{{ path('app_rdv_index') }}">Prendre un rdv</a>
					<a href="{{ path('app_full_child_index') }}">Voir mes enfants</a>
				</div>
				<div class="down">
					<a class="info" href="{{ path('app_recup_child_index') }}">Voir les tuteur</a>
				</div>
			</div>
			<div class="creneaux">
				<section id="messagerie" class="bouton">
					<div class="wrap">
						<div class="titre">
							<h2>
								vos creneaux</h2>
						</div>
						<div class="messagerie">

							{% for rdv in rdvs %}
								<div class="message-box">
									<div class="top">
										<p>{{ rdv.date ? rdv.date|date('d/m/Y') : '' }}</p> 

										<p>
										{{ rdv.heure_debut ? rdv.heure_debut|date('H : i') : '' }} /
										{{ rdv.heure_fin ? rdv.heure_fin|date('H : i') : '' }}
										</p>

									</div>
									<div class="bot detail">
										<div class="letter">
											<i class="fa-solid fa-baby"></i>
										</div>
										<div class="description">
											<div class="info">
												<div class="titre">
													<h2>{{ childs[rdv.id].prenom }}

														{{ childs[rdv.id].nom }}</h2>

												</div>
												<div>
													<p>Creche :
														{{ pros[rdv.id].nom }}</p>
												</div>
											</div>
										</div>
									</div>

								</div>

							{% else %}
								<tr>
									<td colspan="14">Aucun rdv trouver.</td>
								</tr>
							{% endfor %}

						</div>
					</div>
					<div class="img">
						<a href="{{ path('app') }}"><img class="back" src="{{ asset('asset/img/back.svg') }}" alt="back"></a>
					</div>
				</div>
			</section>
		{% endblock %}
